<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

    <!-- Sidebar -->
    <nav class="sidebar">
        <h2>SPK AHP & SAW</h2>
        
        {% include 'components/sidebar.html' %}
    </nav>

    <!-- Konten Utama -->
    <main class="main-content">
        <div class="navbar">
            <div class="navbar-title">Dashboard</div>
        </div>
        <div class="container">
            <img src="/static/images/images.png" alt="Logo" class="logo">
            <h1>Selamat Datang di Dashboard Sistem Penilaian Kenaikan Jabatan</h1>
            <p>Klik tombol lanjutkan untuk mengelola data karyawan, perbandingan, dan melihat hasil.</p>
            <a href="/perbandingan-kriteria" class="continue-btn">Lanjutkan</a>
        </div>
    </main>

</body>
</html>
