<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <title>Hasil</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

    <!-- Sidebar -->
    <div class="sidebar">
        <h2>SPK AHP & SAW</h2>
        
        {% include 'components/sidebar.html' %}
    </div>

    <!-- Konten Utama -->
    <div class="main-content">
        <div class="navbar">
            <div class="navbar-title">Hasil</div>
        </div>

        <div class="container">
            <h1>Hasil Penilaian</h1>
            <table class="table-kriteria">
                <thead>
                    <tr>
                        <th>Nama</th>
                        <th>Nilai</th>
                        <th>Ranking</th>
                    </tr>
                </thead>
                <tbody>
                    {% for nama, nilai in score %}
                        <tr>
                            <td>{{nama }}</td>
                            <td>{{ nilai }}</td>
                            <td>{{ loop.index }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</body>
</html>