<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <title>Hasil</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

    <!-- Sidebar -->
    <div class="sidebar">
        <h2>SPK AHP & SAW</h2>
        
        {% include 'components/sidebar.html' %}
    </div>

    <!-- Konten Utama -->
    <div class="main-content">
        <div class="navbar">
            <div class="navbar-title">Hasil</div>
        </div>

        <div class="container">
            <h1>Hasil Penilaian</h1>
            <table class="table-kriteria">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Nama</th>
                        <th>Nilai</th>
                        <th>Ranking</th>
                    </tr>
                </thead>
                <tbody>
                    <tr><td>1</td><td>Josua</td><td>1</td><td>1</td></tr>
                    <tr><td>2</td><td>Asep</td><td>0.85</td><td>2</td></tr>
                    <tr><td>3</td><td>Badarudin</td><td>0.65</td><td>3</td></tr>
                    <tr><td>4</td><td>Deddy</td><td>0.40</td><td>4</td></tr>
                </tbody>
            </table>
        </div>
    </div>

</body>
</html>