<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <title>Karyawan</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

    <!-- Sidebar -->
    <div class="sidebar">
        <h2>SPK AHP & SAW</h2>
        
        {% include 'components/sidebar.html' %}
    </div>

    <!-- Konten Utama -->
    <div class="main-content">
        <div class="navbar">
            <div class="navbar-title">Karyawan</div>
        </div>

        <div class="container">
            <h1>Tambah Karyawan</h1>
            <form id="form-skor">
                <a href="/tambah-karyawan">
                    <button type="button">Tambah +</button>
                  </a>                  
            </form>

            <h2>Data Karyawan</h2>
            <table class="table-kriteria">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Nama Karyawan</th>
                        {% for kriteria in all_kriteria %}
                            <th>{{ kriteria.nama }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for i, karyawan in all_karyawan %}
                        <tr>
                            <td>{{ i + 1 }}</td>
                            <td>{{ karyawan.nama }}</td>
                            {% for skor_karyawan in karyawan.skor_karyawan %}
                                {% if loop.last %}
                                    <td>
                                        <div class="education-cell">
                                            <span class="education-text">{{ skor_karyawan.opsi_kriteria.opsi }}</span>
                                            <div>
                                                <a href="/edit-karyawan/{{ karyawan.id }}" class="button-edit">Edit</a>
                                                <form action="/hapus-karyawan/{{ karyawan.id }}" method="post" onsubmit="return deletConfirmation()">
                                                    <button type="submit" class="button-hapus">Hapus</button>
                                                </form>
                                            </div>
                                        </div>
                                    </td>
                                {% else %}
                                    <td>{{ skor_karyawan.opsi_kriteria.opsi }}</td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <script>
        function deletConfirmation() {
            return confirm("Apakah yakin ingin menghapus data karyawan ini?");
        }
    </script>
</body>
</html>