<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <title>Tambah Karyawan</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

    <!-- Sidebar -->
    <div class="sidebar">
        <h2>SPK AHP & SAW</h2>
        
        {% include 'components/sidebar.html' %}
    </div>

    <!-- Konten Utama -->
    <div class="main-content">
        <div class="navbar">
            <div class="navbar-title">Tambah Karyawan</div>
        </div>

        <div class="container">
            <h1>Form Tambah Karyawan</h1>

            <form id="form-karyawan" method="post" action="/tambah-karyawan">
                <label for="nama_karyawan">Nama Karyawan:</label>
                <input type="text" id="nama_karyawan" name="nama" placeholder="Nama Karyawan" required>

                {% for i, kriteria in all_kriteria %}
                    <label for="{{ kriteria.nama }}">{{ kriteria.nama }}</label>
                    <input type="hidden" name="{{ 'kriteria' ~ (i + 1) }}" value="{{ kriteria.id }}">
                    <select name="{{ 'opsi_kriteria' ~ (i + 1) }}" id="{{ kriteria.nama }}" required>
                        {% for opsi in kriteria.opsi_kriteria %}
                            <option value="{{ opsi.opsi }}">{{ opsi.opsi }}</option>
                        {% endfor %}
                    </select>
                {% endfor %}

                <button type="submit">Simpan</button>
            </form>
        </div>
    </div>

</body>
</html>
