<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <title>Karyawan</title>
    <link rel="stylesheet" href="/interface/static/css/style.css">
</head>
<body>

    <!-- Sidebar -->
    <div class="sidebar">
        <h2>SPK AHP & SAW</h2>
        <ul>
            <li><a href="/interface/templates/dashboard.html">Dashboard</a></li>
            <li><a href="/interface/templates/karyawan.html" class="active">Karyawan</a></li>
            <li><a href="/interface/templates/perbandingan_kriteria.html">Perbandingan Kriteria</a></li>
            <li><a href="/interface/templates/hasil.html">Hasil</a></li>
        </ul>
    </div>

    <!-- Konten Utama -->
    <div class="main-content">
        <div class="navbar">
            <div class="navbar-title">Karyawan</div>
        </div>

        <div class="container">
            <h1>Tambah Karyawan</h1>
            <form id="form-skor">
                <a href="/interface/templates/tambah_karyawan.html">
                    <button type="button">Tambah +</button>
                  </a>                  
            </form>

            <h2>Data Karyawan</h2>
            <table class="table-kriteria">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Nama Karyawan</th>
                        <th>Golongan</th>
                        <th>Eselon</th>
                        <th>Jabatan</th>
                        <th>Pendidikan</th>
                        <th>Aksi</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Badarudin</td>
                        <td>III/c</td>
                        <td>Eselon IV</td>
                        <td>Staff</td>
                        <td>S1</td>
                        <td>
                            <a href="/interface/templates/edit_karyawan.html" class="button-edit">Edit</a>
                            <a href="#" class="button-hapus">Hapus</a>
                        </td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Anita</td>
                        <td>II/b</td>
                        <td>Eselon II</td>
                        <td>Sekretaris</td>
                        <td>S2</td>
                        <td>
                            <a href="/interface/templates/edit_karyawan.html" class="button-edit">Edit</a>
                            <a href="#" class="button-hapus">Hapus</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="container">
            <h2>Rating Kecocokan</h2>
            <table class="table-kriteria">
                <thead>
                    <tr>
                        <th rowspan="2">No</th>
                        <th rowspan="2">Nama</th>
                        <th colspan="4">Kriteria</th>
                    </tr>
                    <tr>
                        <th>Golongan</th>
                        <th>Eselon</th>
                        <th>Jabatan</th>
                        <th>Pendidikan</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Badarudin</td>
                        <td>1</td>
                        <td>0.5</td>
                        <td>0.2</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Anita</td>
                        <td>0.75</td>
                        <td>0.25</td>
                        <td>0.2</td>
                        <td>0.67</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Sumarman</td>
                        <td>0.75</td>
                        <td>0.25</td>
                        <td>0.2</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Deddy</td>
                        <td>0.75</td>
                        <td>0.25</td>
                        <td>0.2</td>
                        <td>0.67</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>Erdha</td>
                        <td>0.75</td>
                        <td>0.25</td>
                        <td>0.2</td>
                        <td>0.67</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="container">
            <h2>Tabel Matriks Normalisasi Karyawan</h2>
            <table class="table-kriteria">
                <thead>
                    <tr>
                        <th rowspan="2">No</th>
                        <th rowspan="2">Nama</th>
                        <th colspan="4">Kriteria</th>
                    </tr>
                    <tr>
                        <th>Golongan</th>
                        <th>Eselon</th>
                        <th>Jabatan</th>
                        <th>Pendidikan</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Badarudin</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Anita</td>
                        <td>0.75</td>
                        <td>0.5</td>
                        <td>1</td>
                        <td>0.67</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Sumarman</td>
                        <td>0.75</td>
                        <td>0.5</td>
                        <td>1</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Deddy</td>
                        <td>0.75</td>
                        <td>0.5</td>
                        <td>1</td>
                        <td>0.67</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>Erdha</td>
                        <td>0.75</td>
                        <td>0.5</td>
                        <td>0.1</td>
                        <td>0.67</td>
                    </tr>
                </tbody>
            </table>
            <a href="/interface/templates/perbandingan_kriteria.html" class="continue-btn">Lanjutkan</a>
        </div>
    </div>

</body>
</html>