<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <title>Karyawan</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

    <!-- Sidebar -->
    <div class="sidebar">
        <h2>SPK AHP & SAW</h2>
        <ul>
            <li><a href="/templates/dashboard.html">Dashboard</a></li>
            <li><a href="/templates/karyawan.html">Karyawan</a></li>
            <li><a href="/templates/skor_karyawan.html">Skor Karyawan</a></li>
            <li><a href="/templates/kriteria.html">Kriteria</a></li>
            <li><a href="/templates/perbandingan_kriteria.html">Perbandingan Kriteria</a></li>
            <li><a href="/templates/opsi_kriteria.html">Opsi Kriteria</a></li>
        </ul>
    </div>

    <!-- Konten Utama -->
    <div class="main-content">
        <div class="navbar">
            <div class="navbar-title">Karyawan</div>
        </div>

        <div class="container">
            <h1>Daftar Karyawan</h1>
             <!-- Form Input -->
             <form action="/tambah_karyawan" method="POST" id="form-karyawan">
                <input type="text" name="nama" placeholder="Nama" required>
                <input type="text" name="nip" placeholder="NIP" required>
                <input type="text" name="golongan" placeholder="Golongan" required>
                <input type="text" name="eselon" placeholder="Eselon" required>
                <input type="text" name="jabatan" placeholder="Jabatan" required>
                <input type="text" name="pendidikan" placeholder="Pendidikan" required>
                <button type="submit">Simpan</button>
            </form>
</body>
</html>