<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <title>Skor Karyawan</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

    <!-- Sidebar -->
    <div class="sidebar">
        <h2>SPK AHP & SAW</h2>
        <ul>
            <li><a href="/templates/dashboard.html">Dashboard</a></li>
            <li><a href="/templates/karyawan.html">Karyawan</a></li>
            <li><a href="/templates/skor_karyawan.html">Skor Karyawan</a></li>
            <li><a href="/templates/kriteria.html">Kriteria</a></li>
            <li><a href="/templates/perbandingan_kriteria.html">Perbandingan Kriteria</a></li>
            <li><a href="/templates/opsi_kriteria.html">Opsi Kriteria</a></li>
        </ul>
    </div>

    <!-- Konten Utama -->
    <div class="main-content">
        <div class="navbar">
            <div class="navbar-title">Skor Karyawan</div>
        </div>

